<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.schriftgestaltung.Glyphs.fontUserData</key>
  <dict/>
  <key>com.schriftgestaltung.appVersion</key>
  <string>1219</string>
  <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
  <integer>100</integer>
  <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.fontMasterOrder</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.glyphOrder</key>
  <false/>
  <key>com.schriftgestaltung.keyboardIncrement</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.weight</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.width</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.widthValue</key>
  <integer>100</integer>
  <key>public.glyphOrder</key>
  <array>
    <string>l</string>
    <string>uni1C1D1C25</string>
    <string>uni1C131C24</string>
    <string>uni1C48</string>
    <string>m</string>
    <string>Ydieresis</string>
    <string>Omega</string>
    <string>ugrave</string>
    <string>question</string>
    <string>udieresis</string>
    <string>uni1C0B1C24</string>
    <string>dotlessi</string>
    <string>uni1C311C36</string>
    <string>exclam</string>
    <string>uni1C30</string>
    <string>eight</string>
    <string>V</string>
    <string>quotesingle</string>
    <string>p</string>
    <string>Euro</string>
    <string>egrave</string>
    <string>uni1C1E1C24</string>
    <string>U</string>
    <string>asciicircum</string>
    <string>odieresis</string>
    <string>u</string>
    <string>twosuperior</string>
    <string>uni1C101C24</string>
    <string>asterisk</string>
    <string>exclamdown</string>
    <string>uni1C47</string>
    <string>bracketright</string>
    <string>guilsinglleft</string>
    <string>.notdef</string>
    <string>uni1C26</string>
    <string>florin</string>
    <string>uni1C141C24</string>
    <string>plus</string>
    <string>ae</string>
    <string>ordfeminine</string>
    <string>Uacute</string>
    <string>uni1C111C25</string>
    <string>guilsinglright</string>
    <string>uni1C13</string>
    <string>c</string>
    <string>oe</string>
    <string>uni1C4E</string>
    <string>guillemotright</string>
    <string>t</string>
    <string>Acircumflex</string>
    <string>tilde</string>
    <string>zcaron</string>
    <string>perthousand</string>
    <string>uni1C1D1C251C24</string>
    <string>ampersand</string>
    <string>backslash</string>
    <string>uni1C05</string>
    <string>comma</string>
    <string>acircumflex</string>
    <string>greater</string>
    <string>Aring</string>
    <string>uni1C161C24</string>
    <string>OE</string>
    <string>.null</string>
    <string>uni00A0</string>
    <string>bullet</string>
    <string>three</string>
    <string>W</string>
    <string>uni1C27</string>
    <string>thorn</string>
    <string>a</string>
    <string>R</string>
    <string>brokenbar</string>
    <string>uni1C12</string>
    <string>w</string>
    <string>i</string>
    <string>uni1C151C251C24</string>
    <string>lessequal</string>
    <string>T</string>
    <string>radical</string>
    <string>uni1C0A1C24</string>
    <string>B</string>
    <string>idieresis</string>
    <string>uni1C2F1C36</string>
    <string>uni1C2B</string>
    <string>bar</string>
    <string>uni1C40</string>
    <string>numbersign</string>
    <string>iacute</string>
    <string>uni1C051C251C24</string>
    <string>at</string>
    <string>Eth</string>
    <string>plusminus</string>
    <string>r</string>
    <string>ecircumflex</string>
    <string>uni1C0A</string>
    <string>quoteright</string>
    <string>sterling</string>
    <string>uni1C291C2E</string>
    <string>one</string>
    <string>degree</string>
    <string>k</string>
    <string>onequarter</string>
    <string>uni1C1E</string>
    <string>uni1C131C251C24</string>
    <string>Scaron</string>
    <string>Aacute</string>
    <string>uni1C36</string>
    <string>uni1C46</string>
    <string>dotaccent</string>
    <string>fl</string>
    <string>uni1C1D</string>
    <string>K</string>
    <string>X</string>
    <string>uni1C271C35</string>
    <string>trademark</string>
    <string>Delta</string>
    <string>cent</string>
    <string>aring</string>
    <string>notequal</string>
    <string>guillemotleft</string>
    <string>Ograve</string>
    <string>quotedbl</string>
    <string>fraction</string>
    <string>yacute</string>
    <string>uni1C06</string>
    <string>uni1C321C36</string>
    <string>paragraph</string>
    <string>G</string>
    <string>daggerdbl</string>
    <string>uni1C07</string>
    <string>uni1C09</string>
    <string>uni1C111C251C24</string>
    <string>uni1C41</string>
    <string>uni1C291C33</string>
    <string>dollar</string>
    <string>uni1C33</string>
    <string>atilde</string>
    <string>uni1C1C1C24</string>
    <string>emdash</string>
    <string>L</string>
    <string>dieresis</string>
    <string>uni1C291C2D</string>
    <string>S</string>
    <string>section</string>
    <string>uni1C2E1C36</string>
    <string>uni1C2E</string>
    <string>scaron</string>
    <string>product</string>
    <string>uni1C291C32</string>
    <string>Yacute</string>
    <string>Z</string>
    <string>uacute</string>
    <string>logicalnot</string>
    <string>uni1C0E1C25</string>
    <string>b</string>
    <string>uni1C1B1C24</string>
    <string>uni1C3B</string>
    <string>uni1C0F1C24</string>
    <string>Otilde</string>
    <string>six</string>
    <string>Oslash</string>
    <string>uni1C3F</string>
    <string>uni1C2D</string>
    <string>Ccedilla</string>
    <string>uni1C211C24</string>
    <string>uni1C4F</string>
    <string>uni1C031C251C24</string>
    <string>uni1C49</string>
    <string>h</string>
    <string>uni1C031C25</string>
    <string>parenleft</string>
    <string>underscore</string>
    <string>I</string>
    <string>Egrave</string>
    <string>uni1C001C251C24</string>
    <string>zero</string>
    <string>n</string>
    <string>E</string>
    <string>uni1C131C25</string>
    <string>oacute</string>
    <string>uni1C02</string>
    <string>uni1C44</string>
    <string>uni1C1D1C24</string>
    <string>uni1C291C35</string>
    <string>uni1C45</string>
    <string>uni1C0E</string>
    <string>uni1C291C31</string>
    <string>icircumflex</string>
    <string>uni1C23</string>
    <string>eacute</string>
    <string>Ucircumflex</string>
    <string>ntilde</string>
    <string>hungarumlaut</string>
    <string>uni1C15</string>
    <string>uni1C291C2F</string>
    <string>N</string>
    <string>uni1C19</string>
    <string>period</string>
    <string>uni1C28</string>
    <string>oslash</string>
    <string>x</string>
    <string>uni1C281C35</string>
    <string>uni1C11</string>
    <string>parenright</string>
    <string>ccedilla</string>
    <string>igrave</string>
    <string>yen</string>
    <string>semicolon</string>
    <string>uni1C00</string>
    <string>fi</string>
    <string>copyright</string>
    <string>uni1C24</string>
    <string>endash</string>
    <string>infinity</string>
    <string>uni1C051C25</string>
    <string>braceright</string>
    <string>integral</string>
    <string>uni1C151C25</string>
    <string>O</string>
    <string>uni1C14</string>
    <string>four</string>
    <string>A</string>
    <string>Ocircumflex</string>
    <string>eth</string>
    <string>breve</string>
    <string>uni1C37</string>
    <string>ring</string>
    <string>divide</string>
    <string>e</string>
    <string>aacute</string>
    <string>Oacute</string>
    <string>uni1C01</string>
    <string>Odieresis</string>
    <string>Ugrave</string>
    <string>onesuperior</string>
    <string>y</string>
    <string>onehalf</string>
    <string>uni1C1B</string>
    <string>space</string>
    <string>approxequal</string>
    <string>caron</string>
    <string>currency</string>
    <string>uni1C16</string>
    <string>uni1C1C</string>
    <string>uni1C18</string>
    <string>P</string>
    <string>j</string>
    <string>partialdiff</string>
    <string>Ntilde</string>
    <string>quoteleft</string>
    <string>f</string>
    <string>uni1C0C</string>
    <string>d</string>
    <string>uni1C04</string>
    <string>quotedblright</string>
    <string>Thorn</string>
    <string>uni1C011C24</string>
    <string>uni1C051C24</string>
    <string>s</string>
    <string>ydieresis</string>
    <string>summation</string>
    <string>J</string>
    <string>ogonek</string>
    <string>uni1C1F</string>
    <string>uni1C32</string>
    <string>uni1C331C36</string>
    <string>uni1C22</string>
    <string>threesuperior</string>
    <string>uni1C17</string>
    <string>uni1C3C</string>
    <string>two</string>
    <string>C</string>
    <string>uni1C0B</string>
    <string>uni1C2A</string>
    <string>q</string>
    <string>z</string>
    <string>lozenge</string>
    <string>uni1C08</string>
    <string>macron</string>
    <string>uni1C0D</string>
    <string>Ecircumflex</string>
    <string>M</string>
    <string>percent</string>
    <string>questiondown</string>
    <string>asciitilde</string>
    <string>equal</string>
    <string>uni1C21</string>
    <string>uni1C10</string>
    <string>edieresis</string>
    <string>uni1C4D</string>
    <string>uni1C20</string>
    <string>ellipsis</string>
    <string>Iacute</string>
    <string>uni1C231C24</string>
    <string>acute</string>
    <string>uni1C001C25</string>
    <string>uni1C041C24</string>
    <string>nonmarkingreturn</string>
    <string>quotedblleft</string>
    <string>circumflex</string>
    <string>uni1C0E1C251C24</string>
    <string>mu</string>
    <string>H</string>
    <string>uni1C291C30</string>
    <string>Y</string>
    <string>otilde</string>
    <string>greaterequal</string>
    <string>Eacute</string>
    <string>Idieresis</string>
    <string>uni1C301C36</string>
    <string>uni1C03</string>
    <string>uni1C2D1C36</string>
    <string>o</string>
    <string>uni1C021C24</string>
    <string>uni1C25</string>
    <string>registered</string>
    <string>Edieresis</string>
    <string>Zcaron</string>
    <string>uni1C1F1C24</string>
    <string>Q</string>
    <string>uni1C35</string>
    <string>uni1C0C1C24</string>
    <string>quotedblbase</string>
    <string>uni1C151C24</string>
    <string>hyphen</string>
    <string>v</string>
    <string>uni1C001C24</string>
    <string>seven</string>
    <string>Agrave</string>
    <string>uni1C34</string>
    <string>threequarters</string>
    <string>uni2219</string>
    <string>braceleft</string>
    <string>Atilde</string>
    <string>uni1C2F</string>
    <string>nine</string>
    <string>Adieresis</string>
    <string>Udieresis</string>
    <string>bracketleft</string>
    <string>periodcentered</string>
    <string>ocircumflex</string>
    <string>uni25CC</string>
    <string>adieresis</string>
    <string>uni1C0F</string>
    <string>uni1C121C24</string>
    <string>uni1C0E1C24</string>
    <string>ordmasculine</string>
    <string>uni1C3E</string>
    <string>uni1C29</string>
    <string>five</string>
    <string>agrave</string>
    <string>D</string>
    <string>pi</string>
    <string>Igrave</string>
    <string>uni1C43</string>
    <string>uni1C31</string>
    <string>uni00AD</string>
    <string>F</string>
    <string>uni1C2C</string>
    <string>cedilla</string>
    <string>uni1C031C24</string>
    <string>germandbls</string>
    <string>uni1C42</string>
    <string>colon</string>
    <string>Icircumflex</string>
    <string>ucircumflex</string>
    <string>g</string>
    <string>less</string>
    <string>ograve</string>
    <string>uni1C1A</string>
    <string>AE</string>
    <string>slash</string>
    <string>multiply</string>
    <string>uni1C111C24</string>
    <string>grave</string>
    <string>dagger</string>
    <string>uni1C3D</string>
  </array>
  <key>public.postscriptNames</key>
  <dict>
    <key>Delta</key>
    <string>uni0394</string>
    <key>Omega</key>
    <string>uni03A9</string>
    <key>mu</key>
    <string>uni03BC</string>
    <key>onesuperior</key>
    <string>uni00B9</string>
    <key>threesuperior</key>
    <string>uni00B3</string>
    <key>twosuperior</key>
    <string>uni00B2</string>
  </dict>
</dict>
</plist>
